{% extends "website/template.html" %}
{% block body %}
{% for student in paired %}
<p>
  {{ student.id}}
</p>
{% endfor %}
<p>Unpyed payments</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Amount</th>
      <th scope="col">Purchased Date</th>
      <th scope="col">Managed by</th>
    </tr>
  </thead>
  <tbody>
    {% for payments in payment %}
  <tr>
    <th scope="row"> {{ payments.company }}</th>
    <td> {{ payments.amount }}</td>
    <td> {{ payments.purchased_date }}</td>
    <td> {{ payments.managed_by }}</td>
  </tr>
{% endfor %}
  </tbody>

</table>
{% endblock %}

