<nav class="navbar navbar-expand-lg navbar navbar-light" style=" background-color: #ddac7f;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


    <a class="navbar-brand me-2"img src="static/website/images/logo clear.jpg">
      <img
        src="static/website/images/logo clear.jpg"
        height="50"
  
        style="margin-top: -15px;"
      />
    </a>
    


  

      <div class="d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:home_page' %}"style="font-weight: bold;">HOME PAGE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:pick_Lecture' %}" >CLASSES </a>
      </li>
    
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:events' %}">EVENT </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'website:hotel' %}">NIGHT OUT</a>
      </li>
    
        <li class="nav-item">
            <a class="nav-link" href="{% url 'website:payments' %}">PAYMENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'website:volunteer' %}">VOLUNTEER PLACES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'website:students' %}">STUDENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:show_picked_volunteer' %}">Picke Volunteer</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  href="{% url 'website:notify' %}">NOTIFY STUDENTS</a>
      </li>
        <a
        ></a>
           <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
        VOLUNTEER
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="{% url 'website:volunteer' %}">Action</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'website:show_picked_volunteer' %}"></a>Another action</a>
          </li>
          <li>
       
          </li>
        </ul>
      </li>

     
      </ul>
    </div>
  </nav>