<nav class="navbar navbar-expand-lg navbar navbar-light" style=" background-color: #ddac7f;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


    <a class="navbar-brand me-2"img src="static/website/images/logo clear.jpg">
      <img
        src="static/website/images/logo clear.jpg"
        height="50"
  
        style="margin-top: -15px;"
      />
    </a>
    


  

      <div class="d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:home_page' %}"style="font-weight: bold;">HOME PAGE</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LECTURE
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if user == "kowler" %}
            <a class="dropdown-item" href="{% url 'website:atten_teacher_date' %}" >Take Attendance </a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'website:show_atten' %}" >Show Attendance </a>
            <a class="dropdown-item"href="{% url 'website:pick_Lecture' %}" >Pick Lecture </a>

          </div> 
        
        {% if user == "kowler" %}  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EVENT
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'website:events' %}">Event </a>
            <a class="dropdown-item" href="{% url 'website:hotel' %}">Night Out</a>
         

          </div>   
        {% endif %}   
          
 
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          VOLUNTEER
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  href="{% url 'website:volunteer' %}">Volunteer Places</a>
          {% if user == "kowler" %}
          <a class="dropdown-item" href="{% url 'website:show_picked_volunteer' %}">Pick Volunteer</a>
          {% endif %}
        </div>
        
        {% if user == "kowler" %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'website:payments' %}">PAYMENTS</a>
        </li>
        {% endif %}
      
        <li class="nav-item">
            <a class="nav-link" href="{% url 'website:students' %}">STUDENTS</a>
        </li>
   
      {% if user == "kowler" %}
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'website:notify' %}">NOTIFY STUDENTS</a>
      </li>
      {% endif %}
        <a
        ></a>
           <!-- Dropdown -->
   

      </ul>
    </div>
  </nav>
  