{% extends "website/template.html" %}
{% block body %}

















{% for date in dates %}
<div class="row"> 
<button type="button" class="btn btn-secondary" data-toggle="collapse"
data-target="#collapse-{{ date.id}}">{{ date.hotel}} {{ date.date }}</button>
<div id="collapse-{{ date.id}}" class="collapse">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">student name</th>
        <th scope="col">room id</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in date.dates %}
    <tr>
      <th scope="row"> {{ obj.student.first_name }}  {{ obj.last_name }}</th>
      <td> {{ obj.hotel.room.id }}</td>
    </tr>
  {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endfor %}

{% endblock %}
