{% extends "website/template.html" %}
{% block body %}
{% load crispy_forms_tags %}


<form action="{% url 'website:show_picked_lecture' %}" method='post'>
   {% csrf_token %} 
   <h1 class="point">{{lecture.teacher}}</h1>



<table class="table">
   <thead>
     <tr>
       <th>Attendance</th>
       <th scope="col">Student Name</th>
     </tr>
   </thead>
   <tbody>
     {% for v in lecture %}
   <tr>
     <td>

       <div class="form-check">
         <input class="form-check-input" type="checkbox" name="id" value="{{v.name}}" id="{{v.name}}">
       </div>
     </td>
     <td scope="row"> {{ v.name }}</td>
   </tr>
 {% endfor %}
   </tbody>
</table>
<input id="lecture_id" type="hidden"  name="lecture_id" value={{lecture_id}}><br>

<button type="submit" class="btn btn-dark">Save </button>
</form>

{% endblock %}
