{% extends "website/template.html" %}
{% block body %}





<table class="table">
    <thead>
      <tr>
        <th scope="col"> Name</th>
        <th scope="col">Explain why and if what level of experience  </th>
        <th scope="col">V1</th>
        <th scope="col">V2</th>
      </tr>
    </thead>
    <tbody>
      {% for v in all_valnter %}
    <tr>
      <th scope="row"> {{ v.name }}</th>
      <td> {{ v.describe }}</td>
      <td> {{ e.v1 }}</td>
      <td> {{ e.v2 }}</td>
    </tr>
  {% endfor %}
    </tbody>
</table>

{% endblock %}



