{% extends "website/template.html" %}
{% block body %}
{% include "website/payments/add_payment.html" %}
{% load crispy_forms_tags %}


<td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Delet A Payment

 </button> </td>

 <td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Edit A Payment

 </button> </td>
 

 <h1 class="point"> All  Payments </h1>
 <div style="float: left;margin-right:10px"></div>

 <table class="table" width="200" height= "50" border="5" >

<table class="table">
  <thead>
    <tr>
      <th scope="col">Purchased Date</th>
      <th scope="col">company</th>
      <th scope="col">managed by</th>
      <th scope="col">description</th>
      <th scope="col">paid</th>
      <th scope="col">amount</th>
      <th scope="col">if not way</th>
      <th scope="col">purchase date</th>
      
    </tr>
  </thead>
  <tbody>
    {% for payment in payments %}
  <tr>
    <td scope="row"> {{ payment.purchased_date }}</td>
    <td> {{ payment.company }}</td>
    <td> {{ payment.managed_by }}</td>
    <td> {{ payment.description }}</td>
    <td> {{ payment.paid }}</td>
    <td> {{ payment.amount }}</td>
    <td> {{ payment.if_not_way }}</td>
    <td> {{ payment.payment_date }}</td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1 class="point"> Unpaid  Payments </h1>
<div style="float: left;margin-right:10px"></div>

<table class="table"  >


  <thead>
   <tr>
    <th scope="col">Company</th>
    <th scope="col">Amount</th>
    <th scope="col">Purchased Date</th>
    <th scope="col">Managed by</th>
  </tr>
</thead>
<tbody>
  {% for p in payment %}
<tr>
  
  <td scope="row"> {{ p.company }}</td>
  <td> {{ p.amount }}</td>
  <td> {{ p.purchased_date }}</td>
  <td> {{ p.managed_by }}</td>
</tr>

{% endfor %}
</tbody>

</table>


{% endblock %}
