{% extends "website/template.html" %}
{% block body %}

{% include "website/students/add_students.html" %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Talents & Level</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
    <tr>
      <th scope="row"> {{ student.first_name }}</th>
      <td> {{ student.last_name }}</td>
      <td> {{ student.talents_and_level }}</td>
    </tr>
  {% endfor %}
    </tbody>
</table>

{% endblock %}
