{% extends "website/template.html" %}
{% block body %}

{% include "website/volunteer/add_volunteer_place.html" %}
{% if user == "kowler" %}


<td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Delet a Volunteer Places
 </button> </td>

 <td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Edit a Volunteer Places
 </button> </td>
 {% endif %}
 <h1 > Chose one or two places you will want to volunteer this year and explain way </h1>

 <form action="{% url 'website:pick_volunteer' %}" method='post'>
  {% csrf_token %}


<table class="table">
    <thead>
      <tr>
        <th></th>
        <th scope="col">category</th>
        <th scope="col">name</th>
        <th scope="col">address</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      {% for v in volunteer %}
    <tr>
      <td>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="id" value="{{v.id}}" id="{{v.id}}">
        </div>
      </td>
      <td scope="row"> {{ v.category }}</td>
      <td> {{ v.volunteer_place_name }}</td>
      <td> {{ v.address }}</td> 
      <td> {{ v.describe }}</td>
    </tr>
  {% endfor %}
    </tbody>
</table>
<!-- <input class="form-control" type="text" name='name' placeholder="name"> -->
<input class="form-control" type="text" name='description' placeholder="Explain">
 <button type="submit" class="btn btn-dark">Save </button>
</form>

{% endblock %}

