{% extends "website/template.html" %}
{% block body %}

{% include "website/volunteer/add_volunteer_place.html" %}

<td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Delet a Volunteer Places
 </button> </td>

 <td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Edit a Volunteer Places
 </button> </td>


<table class="table">
    <thead>
      <tr>
        <th scope="col">category</th>
        <th scope="col">name</th>
        <th scope="col">address</th>
        <th scope="col">description</th>
      </tr>
    </thead>
    <tbody>
      {% for v in volunteer %}
    <tr>
      <th scope="row"> {{ v.category }}</th>
      <td> {{ v.volunteer_place_name }}</td>
      <td> {{ v.address }}</td> 
      <td> {{ v.describe }}</td>
    </tr>
  {% endfor %}
    </tbody>
</table>

{% endblock %}

