{% extends "website/template.html" %}
{% block body %}
{% include "website/events/add_events.html" %}
{% load crispy_forms_tags %}




{% for e in event %}
<div class="row"> 
<button type="button" class="btn btn-dark" data-toggle="collapse"
data-target="#collapse-{{e.event.id}}">{{ e.event.event_name }} </button>
<div id="collapse-{{ e.event.id}}" class="collapse">
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#{{e.event.id}}">    
    Add A Payment
   </button>
   <!-- <form action="{% url 'website:download_doc' %}" method='post'>

    {% csrf_token %}
    <input id="hotelid" type="hidden"  name="id" value={{e.event.id}}><br>
  <button type="submit" class="btn btn-dark">Download</button>
  </form> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Amount</th>
        <th scope="col">Paid</th>
        <th scope="col">Explain </th>
        <th scope="col">Payment Date</th>
        <th scope="col">View</th>

      </tr>
    </thead>
    <tbody>
      {% for p in e.payments %}
    <tr>
      <td> {{ p.company }}</td>
      <td> {{ p.amount }}</td>
      <td> {{ p.paid }}</td>
      <td> {{ p.if_not_way }}</td>
      <td> {{ p.payment_date }}</td>
      <td>
        {% if p and p.recipt and p.recipt.url %}
        <button type="button"  class="btn btn-dark" >
          <a style="color:white"  href="{{ payment.recipt.url }}"> View Recipt</a>
        </button></td>
        
  
      {% endif %}
  
  
  
    </tr>
  {% endfor %}
    </tbody>
</table>
</button>
<form action="{% url 'website:download_doc' %}" method='post'>

 {% csrf_token %}
 <input id="hotelid" type="hidden"  name="id" value={{e.event.id}}><br>
<button type="submit" class="btn btn-dark">Download</button>
</form>
</div>
</div>

{% endfor %}


{% for e in event %}

<div class="modal fade" id="{{e.event.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Payment </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'website:add_payment_to_event' %}" method='post'>

        {% csrf_token %}
        <input id="hotelid" type="hidden"  name="event_id" value={{e.event.id}}><br>
            {{paymentForm|crispy}}
     
      <button type="submit" class="btn btn-dark">Save changes</button>
      </form>
      </div>
    
    </div>
  </div>
</div>


<div class="modal fade" id="Download{{e.event.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Payment </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'website:download_doc' %}" method='post'>

        {% csrf_token %}
        <input id="hotelid" type="hidden"  name="id" value={{e.event.id}}><br>
      <button type="submit" class="btn btn-dark">Download</button>
      </form>
      </div>
    
    </div>
  </div>
</div>
{% endfor %}

<div class="modal fade" id="room_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Rooms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'website:add_room' %}" method='post'>
     
          
    
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


