{% extends "website/template.html" %}
{% block body %}

{% include "website/lecture/add_lecture.html" %}
{% if user == "kowler" %}  

<td> <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
    Edit A Lecture
  </button> </td>
  {% endif %}   

<form action="{% url 'website:pick_Lecture' %}" method='post'>
  {% csrf_token %}


  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Subject</th>
        <th scope="col">Teacher</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"style="font-weight: bold;"> Sunday</td>
       </tr>
      {% for l in sunday %}
     
      <tr>
        <td>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="s_id" value="{{l.id}}" id="{{l.id}}">
          </div>
        </td>
        <td scope="row"> {{ l.subject }}</td>
        <td> {{ l.teacher }}</td>
        <td> {{ l.time }}</td>
      </tr>
     
      {% endfor %}



      <tr>
        <td scope="row"style="font-weight: bold;"> Monday</td>
       </tr>
      {% for l in monday %}
     
      <tr>
        <td>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="m_id" value="{{l.id}}" id="{{l.id}}">
          </div>
        </td>
        <td scope="row"> {{ l.subject }}</td>
        <td> {{ l.teacher }}</td>
        <td> {{ l.time }}</td>
      </tr>
      {% endfor %}


      <tr>
        <td scope="row"style="font-weight: bold;"> Tusday</td>
       </tr>
      {% for l in tusday %}
     
      <tr>
        <td>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="t_id" value="{{l.id}}" id="{{l.id}}">
          </div>
        </td>
        <td scope="row"> {{ l.subject }}</td>
        <td> {{ l.teacher }}</td>
        <td> {{ l.time }}</td>
      </tr>
      {% endfor %}


      <tr>
        <td scope="row"style="font-weight: bold;"> Wednesday</td>
       </tr>
      {% for l in wednesday %}
     
      <tr>
        <td>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="w_id" value="{{l.id}}" id="{{l.id}}">
          </div>
        </td>
        <td scope="row"> {{ l.subject }}</td>
        <td> {{ l.teacher }}</td>
        <td> {{ l.time }}</td>
      </tr>
      {% endfor %}


      <tr>
        <td scope="row"style="font-weight: bold;"> Thursday</td>
       </tr>
      {% for l in thursday %}
     
      <tr>
        <td>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="th_id" value="{{l.id}}" id="{{l.id}}">
          </div>
        </td>
        <td scope="row"> {{ l.subject }}</td>
        <td> {{ l.teacher }}</td>
        <td> {{ l.time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- <input class="form-control" type="text" name='name' placeholder="name"> -->
  <button type="submit" class="btn btn-dark">Save </button>
</form>

{% endblock %}