{% extends "website/template.html" %}

{% block body %}
{% include "website/hotel/add_hotel.html" %}


<button type="button"  class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  <a style="color:white"  href="{% url 'website:night_out' %}">Night Out</a>
</button></td>


  
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Delete A Hotel
</button> </td>

<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  Edit A Hotel
</button> </td>

<table class="table" width="200" height= "50" border="5" ></table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Hotel Name</th>
      <th scope="col">Rooms</th>

    </tr>
  </thead>
  <tbody>
    {% for h in hotel %}
  <tr>
    <th scope="row"><div>
      {{ h.name }}
  {{ h.rooms}}    </div></th>
    <td>
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#{{h.id}}">    
      Add 
     </button>
     <button type="button"  class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
      Delete
    </button>

    
 </td>

     </tr>

{% endfor %}
  </tbody>
</table>
  <!-- Modal -->
  {% for h in hotel %}
  <div class="modal fade" id="{{h.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Room </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'website:add_room' %}" method='post'>

          {% csrf_token %}
          <input id="hotelid" type="hidden"  name="hotel_name" value={{h.name}}><br>

        {{ roomsForm }}
       
        <button type="submit" class="btn btn-dark">Save changes</button>
        </form>
        </div>
      
      </div>
    </div>
  </div>
  {% endfor %}



<div class="modal fade" id="room_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Rooms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'website:add_room' %}" method='post'>
     
          
    
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
