{% extends "website/template.html" %}
{% block body %}
{% include "website/hotel/add_hotel.html" %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Hotel Name</th>
      <th scope="col">Rooms</th>

    </tr>
  </thead>
  <tbody>
    {% for h in hotel %}
  <tr>
    <th scope="row"> {{ h.name }}</th>
    <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Rooms
     </button> </td>

{% endfor %}
  </tbody>
</table>

{% endblock %}
